@import '~antd/dist/antd.less';

.App {
  text-align: center;
  max-height: 100vh;
  max-width: 100vw;
  background: #272727;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.board-area {
  padding-left: 50px;
  padding-top: 50px;
}

.analysis-area {
  padding: 20px;
  background: #3c3b3b;
}

.game-nav-buttons {
  padding-top: 20px;
}
.moves-list {
  padding: 20px;
  border: 1px #161616 solid;
  width: 100%;
  min-height: 200px;
}